
/CsvImporter/bin/
/CsvImporter/DB/Stock1.CSV
/CsvImporter/LoadFiles/Stock.CSV
/CsvImporter/Logs/
/CsvImporterTest/bin/
/CsvImporterTest/obj/
/CsvImporterTest/obj/Debug/netcoreapp3.1/CsvImporterTest.csprojAssemblyReference.cache
/CsvImporter/.vs/CsvImporter/v16
/CsvImporter/obj/Debug/
/CsvImporter/obj/Debug/
/CsvImporterTest/obj/Debug/netcoreapp3.1/CsvImporterTest.assets.cache
/CsvImporter/.vs/CsvImporter/config/applicationhost.config
/CsvImporter/obj/Debug/netcoreapp3.1/CsvImporter.assets.cache
/CsvImporterTest/obj/Debug/netcoreapp3.1/CsvImporterTest.assets.cache
/CsvImporterTest/obj/Debug/netcoreapp3.1/CsvImporterTest.csprojAssemblyReference.cache
/CsvImporter/obj/
/CsvImporter/.vs/CsvImporter/
/CsvImporterTest/obj/
/CsvImporterTest/obj/project.nuget.cache
/CsvImporter/obj/
/CsvImporterTest/obj/Debug/netcoreapp3.1/CsvImporterTest.csprojAssemblyReference.cache
/CsvImporter/obj/Debug/netcoreapp3.1/CsvImporter.csprojAssemblyReference.cache
/CsvImporterTest/obj/Debug/netcoreapp3.1/CsvImporterTest.csprojAssemblyReference.cache
/CsvImporterTest/obj/project.nuget.cache
/CsvImporter/.vs/CsvImporter/DesignTimeBuild/.dtbcache.v2
/CsvImporter/.vs/CsvImporter/v16/.suo
